body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}

div{
    position: relative;
}

video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    object-fit: cover;
}

h1{
    background: black;
    font-size: 210px;
    text-align: center;
    mix-blend-mode: multiply;
}

.description{
    color: gray;
    font-size: small;
}

span{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    mix-blend-mode: hard-light;
}

footer{
    font-size: small;
    color: black;
    background-color: #365B36;
}

.logo{
    height: 1.5%;
    width: 1.5%;
}